// variable = a reusable container that holds data... 

types are strings, integer float, boolean... there are morew but these are basics.


This website is created using a XAMPP server...

Left off: https://youtu.be/zZ6vybT1HQs?t=3307
