// variable = a reusable container that holds data... 

types are strings, integer float, boolean... there are morew but these are basics.


This website is created using a XAMPP server...

Left off: https://youtu.be/zZ6vybT1HQs?t=7897


Switch statements = is useful when using many elseif statements it is more efficent and you write less code. (Refer to form.php)

For loop = repeat some code a certain # of times.

While loop = runs a code infinitely, as long as some condition remains true.

(While loops are better when you need to run something forever.)

Array = a variable which can hold more than one value at a time arrays start at 0 in PHP.

Associative Array

An array made of key=> value pairs

// countries => captials
//id => username
// item => price

https://www.w3schools.com/php/php_arrays_associative.asp

// isset() = Returns TRUE if a variable is declared and not null
//empty() = Returns TRUE if a variable is not declared, false, null, ""